$phone: 414px;
$tablet: 1024px;
$desktop: 1280px;
$white: #ffffff;
$black: #000000;
$background-light-lemon: #fffdee;
$background-dark-lemon: #f0ecd6;
$accent-color: #f3c653;
$main-text-color: #5f5f5f;
$brown-text-color: #c79002;
$menu-text-color: #7a7a7a;
