<section
  class="contact about__picture animate__animated animate__fadeInLeft animate__delay-1s"
>
  <div class="container">
    <div class="contact__wrap">
      <h2 hidden>Контакти</h2>
      <h3 class="contact_title">MIMIHO</h3>
      <p class="contact_title_name">Ресторанно-готельний комплекс</p>
      <ul class="contact_list">
        <li class="contact_item">
          <p class="contact_text">Ресторан</p>

          <div class="contact-bloc-1">
            <a class="contact-bloc-text" href="tel:+380955559533">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-phone"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contact_item">
          <p class="contact_text">Готель</p>
          <div class="contact-bloc-2">
            <a class="contact-bloc-text" href="tel:+380668491089">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-phone"></use>
              </svg>
              066 849 10 89</a
            >
            <a class="contact-bloc-text" href="tel:+380672758540"
              >067 275 85 40</a
            >
          </div>
        </li>
        <li class="contact_item">
          <div class="contact-bloc-3">
            <a
              class="contact-bloc-text contact-bloc__location-text"
              href="tel:+380668491089"
            >
              <svg class="contact__icon-location" width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-location"></use>
              </svg>
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="contact_picture"></div>
  </div>
</section>
