<link rel="stylesheet" href="/src/sass/layout/_footer.scss" />
<footer class="wow animate__animated animate__backInUp">
  <div class="conteiner conteiner-footer">
    <div class="conteiner-footer-logo">
      <a href="./index.html" class="footer-logo link">MIMIHO</a>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-list list">
        <li class="nav-item"><a href="" class="nav-link link">Головна</a></li>
        <li class="nav-item"><a href="" class="nav-link link">Ресторан</a></li>
        <li class="nav-item"><a href="" class="nav-link link">Готель</a></li>
      </ul>
      <div class="footer-sots">
        <ul class="footer-sots-list list">
          <li class="icon-background-footer">
            <a href="" class="footer-link link">
              <p class="icon-footer-text">Instagram</p>
              <svg class="icon-footer icon-footer-inst">
                <use
                  href="/src/images/icons/icons_footer.svg#icons_instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-background-footer">
            <a href="" class="footer-link link">
              <p class="icon-footer-text">Facebook</p>
              <svg class="icon-footer">
                <use
                  href="/src/images/icons/icons_footer.svg#icons_facebook"
                ></use>
              </svg>
            </a>
          </li>
          <li class="icon-background-footer">
            <a href="" class="footer-link link">
              <p class="icon-footer-text">Telegram</p>
              <svg class="icon-footer">
                <use
                  href="/src/images/icons/icons_footer.svg#icons_telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
