
    <link rel="stylesheet" href="./footer.html"/>
  
    <!-- ❗️❗️❗️ Add partials like so for every page -->
   
    <footer>
        <div class="conteiner conteiner-footer">
            <a href="./index.html" class="footer-logo link">MIMIHO</a>
        </div>
        <div class="footer-nav">
            <ul class="">
                <li><a href="">Головна</a></li>
                <li><a href="">Ресторан</a></li>
                <li><a href="">Готель</a></li>
            </ul>
        </div>
        <div class="footer-sots">
            <ul>
               <li><a href="">
                <svg>
                    <use></use>
                </svg>
               </a></li>
               <li><a href="">
                <svg>
                    <use></use>
                </svg>
               </a></li>
               <li><a href="">
                <svg>
                    <use></use>
                </svg>
               </a></li>
            
            </ul>
        </div>
        
        </footer>
  </body>
  
</html>
