<section class="rooms">
	<h2 hidden>Кімнати готелю Міміно</h2>
	<ul class="rooms__list">
	 <li class="rooms__item container">
	   <div class="rooms__wrap-top">
		 <div class="rooms__desc-wrap">
		   <p class="rooms__hotel-slogan">Amet minim mollit non</p>
				   <p class="rooms__hotel-title">mimiho</p>
				   <h3 class="rooms__title">двомісний номер &#32;<span class="rooms__title-low">люкс</span></h3>
				   <p class="rooms__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet</p>
		 </div>
		 <picture class="rooms__img-wrap">
		   <source srcset="./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x" media="(min-width: 1280px)">
		   <source srcset="./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x, ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x" media="(min-width: 1024px)">
		   <source srcset="./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x, ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x" media="(min-width: 414px)">
		   <img class="rooms__img" src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg" alt="Двомісний номер люкс">
		 </picture> 
	   </div>
	   <div class="rooms__wrap-bottom">
		 <div class="rooms__slider-wrap">
		   <ul class="rooms__slider-list">
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/bathroom-m-1x.jpg" alt="Інтер'єр ванної кімнати" width="194" height="194"></li>
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/cup-tea-m-1x.jpg" alt="Чашка кави на підвіконні" width="194" height="194"></li>
		   </ul>
				 <button class="rooms__btn-slider">
				   <svg width="98" height="32">
					 <use href="./images/hotel-rooms/sprite.svg#icon-arrows"></use>
				   </svg>
				 </button>
		 </div>
		 <ul class="rooms__list-btn">
		   <li class="rooms__item-btn"><button class="btn">Детальніше</button></li>
		   <li class="rooms__item-btn"><button class="btn">Переглянути ціни</button></li>
		 </ul>
	   </div>
	   
	 </li>
	 <li class="rooms__item container">
	   <div class="rooms__wrap-top">
		 <div class="rooms__desc-wrap">
		   <p class="rooms__hotel-slogan">Amet minim mollit non</p>
				   <p class="rooms__hotel-title">mimiho</p>
				   <h3 class="rooms__title">трьохмісний номер</h3>
				   <p class="rooms__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet</p>
		 </div>
		 <picture class="rooms__img-wrap">
		   <source srcset="./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x" media="(min-width: 1280px)">
		   <source srcset="./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x, ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x" media="(min-width: 1024px)">
		   <source srcset="./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x, ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x" media="(min-width: 414px)">
		   <img class="rooms__img" src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg" alt="Трьомісний номер">
		 </picture> 
	   </div>
	   <div class="rooms__wrap-bottom">
		 <div class="rooms__slider-wrap">
		   <ul class="rooms__slider-list">
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/bathroom-m-1x.jpg" alt="Інтер'єр ванної кімнати" width="194" height="194"></li>
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/cup-tea-m-1x.jpg" alt="Чашка кави на підвіконні" width="194" height="194"></li>
		   </ul>
				 <button class="rooms__btn-slider">
				   <svg width="98" height="32">
					 <use href="./images/hotel-rooms/sprite.svg#icon-arrows"></use>
				   </svg>
				 </button>
		 </div>
		 <ul class="rooms__list-btn">
		   <li class="rooms__item-btn"><button class="btn">Детальніше</button></li>
		   <li class="rooms__item-btn"><button class="btn">Переглянути ціни</button></li>
		 </ul>
	   </div>
	   
	 </li>
	 <li class="rooms__item container">
	   <div class="rooms__wrap-top">
		 <div class="rooms__desc-wrap">
		   <p class="rooms__hotel-slogan">Amet minim mollit non</p>
				   <p class="rooms__hotel-title">mimiho</p>
				   <h3 class="rooms__title">двомісний номер</h3>
				   <p class="rooms__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet</p>
		 </div>
		 <picture class="rooms__img-wrap">
		   <source srcset="./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x" media="(min-width: 1280px)">
		   <source srcset="./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x, ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x" media="(min-width: 1024px)">
		   <source srcset="./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x, ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x" media="(min-width: 414px)">
		   <img class="rooms__img" src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg" alt="Двомісний номер">
		 </picture> 
	   </div>
	   <div class="rooms__wrap-bottom">
		 <div class="rooms__slider-wrap">
		   <ul class="rooms__slider-list">
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/bathroom-m-1x.jpg" alt="Інтер'єр ванної кімнати" width="194" height="194"></li>
			 <li class="rooms__slider-item"><img class="rooms__slider-img" src="./images/hotel-rooms/mobile/cup-tea-m-1x.jpg" alt="Чашка кави на підвіконні" width="194" height="194"></li>
		   </ul>
				 <button class="rooms__btn-slider">
				   <svg width="98" height="32">
					 <use href="./images/hotel-rooms/sprite.svg#icon-arrows"></use>
				   </svg>
				 </button>
		 </div>
		 <ul class="rooms__list-btn">
		   <li class="rooms__item-btn"><button class="btn">Детальніше</button></li>
		   <li class="rooms__item-btn"><button class="btn">Переглянути ціни</button></li>
		 </ul>
	   </div>
	   
	 </li>
	</ul>
   </section>